// BACKGROUND COLOR
$primary: #fff;
$secondary: #111;
$dark: #020001;
$blue: #0565bb;
$yellow: #fccb05;
$tomato: #f50;
$RGBA-dark: rgba(0,0,0,0.5);

// TEXT COLOR
$tPrimary: #fff;
$tTomato: #f96400;
$tDark-1: #111;
$tDark-2:  #222;
$tDark-3: #110e03;
$tDark-4: #333;
$tYellow: #fcd32a;
$tGrey-1: #666;
$tGrey-2: #a9a9a9;


// BORDER COLOR
$border--dark: #020001;
$border--dark-2: #111;
$border--white: #fff;

// FONT SIZE
$h1: 55px;
$h2: 50px;
$h3: 45px;
$h4: 30px;
$h5: 23px;
$h6: 20px;
$body-1: 18px;
$body-2: 14px;
$body-3: 12px;

// FONT WEIGHT
$semiLight: 100;
$light: 300;
$regular: 400;
$semiBold: 600;
$bold: 700;
$extraBold: 800;

// WIDTH 
$w-10: 10px;
$w-100: 100%;

// HEIGHT
$h-10: 10px;
$h-100: 100%;

// MARGIN
$m-10: 10px;

// PADDING
$p-10: 10px




