// HEADER
.rwd-header__nav {
    width: $w-100;
    height: $h-100;
    background: $RGBA-dark;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    display: none;
    .nav__wrapper {
        width: 0;
        height: $h-100;
        padding: $p-10 * 2;
        overflow: auto;
        background: $secondary;
        transition: all 0.5s ease;
        .wrapper__button {
            width: $w-100;
            text-align: right;
            font-size: $h6;
            color: $tPrimary;
            cursor: pointer;
        }
        .wrapper__list {
            width: $w-100;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .list__link {
                display: block;
                margin: $m-10 * 2 0;
                .link {
                    text-decoration: none;
                    color: $tPrimary;
                    @include respond(tablet) {
                        font-size: $body-1;
                    }
                    @include respond(phone) {
                        font-size: $body-2;
                    }
                }
            }
        }
    }
    .nav__wrapper--active {
        width: $w-100 - 25;
    }
    @include respond(tablet) {
        display: block;
    }
}
.rwd-header__nav--active {
    opacity: 1;
    visibility: visible;
}

// PRODUCTS

.rwd-products__wrapper {
    display: none;
    .wrapper__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .list__card {
            width: $w-100;
            padding: 0 $p-10 - 5;
            margin-bottom: $m-10 * 5;
            border-bottom: 3px solid transparent;
            transition: all 0.5s ease;
            &:hover {
                border-color: $border--dark;
            }
            &:hover .card__img img {
                transform: scale(1.2, 1.2);
            }
            .card__img {
                width: $w-100;
                height: $h-10 * 30;
                overflow: hidden;
                img {
                    object-fit: cover;
                    transition: all 0.3s ease;
                }
            }
            .card__content {
                .content__title {
                    font-size: $body-1;
                    font-weight: $semiBold;
                    color: $tDark-2;
                    line-height: $h-10 * 3.5;
                    margin: $m-10 * 2 0;
                }
                .content__info {
                    display: flex;
                    justify-content: space-between;
                    .info__price {
                        font-size: $body-2;
                    }
                    .info__likes {
                        display: flex;
                        font-size: $body-2;
                        .likes__img {
                            width: $w-10 * 2;
                            height: $h-10 * 2;
                            margin-right: $m-10;
                        }
                    }
                }
            }
            @include respond(tablet) {
                width: $w-100 / 2;
            }
            @include respond(smallPhone) {
                width: $w-100;
            }

        }
        @include respond(phone) {
            flex-direction: row;
        }
        @include respond(smallPhone) {
            flex-direction: column;
        }
    }
    .wrapper__button {
        width: $w-100;
        display: flex;
        justify-content: center;
        .button {
            width: $w-100;
            margin: $m-10 0;
        }
    }
    @include respond(tablet) {
        display: block;
    }
}
